@import "mixins.scss";
#ContentTop_Ellipse1 {	@include elemWidth(100);
}
#ContentTop_Ellipse1 {	@include elemHeight(100);
}
#ContentTop_Ellipse1 {	@include elemTop(0);
}
#ContentTop_Ellipse1 {	@include elemLeft(700);
}
#ContentTop_Ellipse1 {	z-index: 0;
}
#ContentTop_Ellipse1 {	background-color: rgba(255, 255, 0, 1);
}
#ContentTop_Label1 {	@include elemTop(0);
}
#ContentTop_Label1 {	@include elemLeft(0);
}
#ContentTop_Label1 {	@include elemAutoWidth(695);
}
#ContentTop_Label1 {	@include elemAutoHeight(100);
}
#ContentTop_Label1 {	z-index: 1;
}
#ContentTop_Label1 {	@include text-alignment-all('center');
}
#ContentTop_Label1 {	span {
		font-family: Times New Roman;
	}
}
#ContentTop_Label1 {	font-size: 50px;
}
#ContentTop_Label1 {	@include font-weight-bold(true);
}
#ContentTop_ToggleButton1 {	@include elemTop(10);
}
#ContentTop_ToggleButton1 {	@include elemLeft(710);
}
#ContentTop_ToggleButton1 {	@include elemAutoWidth(80);
}
#ContentTop_ToggleButton1 {	@include elemAutoHeight(80);
}
#ContentTop_ToggleButton1 {	z-index: 2;
}
#ContentTop_ToggleButton1 {	@include border-radius(50px);
}
#ContentTop_ToggleButton1 {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 0, 0, 1);
	}
}
#ContentTop_ToggleButton1 {	&:not(.disabled):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#ContentTop_ToggleButton1 {	&.active:not(.disabled):not(.editMode) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#ContentTop_ToggleButton1 {	&.active:not(.disabled):not(.editMode) {
		background-color: rgba(255, 128, 128, 1);
	}
}
#ContentTop_ToggleButton1 {	span {
		font-size: 11px;
	}
}
#ContentTop_ToggleButton1 {	span {
		font-family: Times New Roman;
	}
}
#ContentTop_ToggleButton1 {	span {
		@include font-weight-bold(true);
	}
}
#ContentTop_ToggleButton1 {	&.checked:not(.active):not(.disabled) {
		background-color: rgba(255, 128, 128, 1);
	}
}
